@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
}

body {
  background: linear-gradient(#b068e9, #6463e7);

  width: 100%;

  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-top: 40px; */
}
